<div class="text-center">
  <br class="hidden-xs-down" />
  <p>{{{internal_cisco_spark_integration_login_text}}}</p>
</div>
<br/>
<a href="/auth/spark" class="btn btn-primary btn-lg btn-block" style="background: red; border-color: red;">Login with Cisco Spark &raquo;</a>
