<div class="text-center">
  <div style="position: relative;">
    <div class="popover popover-top" style="max-width: 100%;">
      <div class="popover-content">
        <img src="/public/img/CiscoSparkPayPalScreenshot.png" alt="Cisco Spark PayPal Integration Screenshot" style="max-width: 100%;" />
      </div>
    </div>
    <br class="clearfix" />
  </div>
  <br/>
  <br/>
  <br class="hidden-sm-down" />
  <br class="hidden-xs-down" />
  <p class="lead">Get instant payment notifications from PayPal in Cisco Spark.</p>
  <p>When you setup the Cisco Spark PayPal Integration you will receive instant
    payment notifications for activity in your PayPal account directly within
    Cisco Spark. Setup is simple and we are here to help you if you need
    assistance or have questions.</p>
</div>
<br/>
<a href="/auth/spark" class="btn btn-primary btn-lg btn-block">Add to Spark &raquo;</a>
