<div class="text-center">
  <p class="lead">Get instant payment notifications in Cisco Spark.</p>
  <p>When you setup the Cisco Spark PayPal Integration you will receive instant
    payment notifications for activity in your PayPal account directly within
    Cisco Spark. Setup is simple and we are here to help you if you need
    assistance or have questions.</p>
</div>
<br/>
<a href="/auth/spark" class="btn btn-primary btn-lg btn-block">Get Started &raquo;</a>
