<div class="text-center">
  <div style="position: relative;">
    <div class="popover popover-top" style="max-width: 100%;">
      <div class="popover-content">
        <img src="/public/img/CiscoSpark{{internal_cisco_spark_integration_title}}Screenshot.png" alt="Cisco Spark {{internal_cisco_spark_integration_title}} Integration Screenshot" style="max-width: 100%;" />
      </div>
    </div>
    <br class="clearfix" />
  </div>
  <br/>
  <br/>
  <br class="hidden-sm-down" />
  <br class="hidden-xs-down" />
  <p class="lead">Get instant notifications from {{internal_cisco_spark_integration_title}} in Cisco Spark.</p>
  <p>{{internal_cisco_spark_integration_login_text}}</p>
</div>
<br/>
<a href="/auth/spark" class="btn btn-primary btn-lg btn-block">Add to Spark &raquo;</a>
